:root{
    --margin: 30px;
    --branco: #fff;
    --fundo: #F6EBFF;
    --cinza: #F0F1F5;
    --roxo: #8A19D6;
    --preto: #000;
}

*{
    padding: 0px;
    margin: 0px;

    font-family: sans-serif;
}

button{
    cursor: pointer;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1496px;
    width: 99vw;

    background-color: var(--fundo);
}

#telefone{
    width: 390px;
    height: 1296px;
}

header{
    display: grid;
    grid-template-rows: 60% 40%;

    height: 178px;

    background-color: var(--roxo);

    /*texto*/
    color: var(--branco);
    font-size: 10px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#nav-header{
    display: flex;

    justify-content: space-between;
    align-items: flex-end;

    margin-left: var(--margin);
    margin-right: var(--margin);
}

#icons-header{
    display: grid;
    grid-template-columns: 40px 40px 25px;
}

#titulo-header{
    align-self: center;

    margin-top: 10px;
    margin-left: var(--margin);
    cursor: default;
}

main{
    height: 1118px;

    background-color: var(--branco);
}

#main-1{
    display: flex;
    flex-direction: column;

    height: 486px;

    margin-bottom: 2px;

    color: #000;
}

#valor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    height: 148px;

    margin-left: var(--margin);
}

#valor h1{
    font-size: 20px;
}

#valor p {
    font-size: 26px;

    font-weight: bolder;
}

#valor h1, #valor p{
    cursor: default;
}

#pagamentos{
    display: grid;

    grid-auto-flow: column;
    grid-template-rows: 75px 42px;
    grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
    column-gap: 10px;

    justify-items: center;
    align-items: start;

    margin-left: var(--margin);
}

#pagamentos svg{
    cursor: pointer;
}

#pagamentos svg:hover{

}

#pagamentos p{
    margin-top: 10px;

    cursor: default;
}

#crts{
    display: flex;
    align-items: center;

    height: 60px;

    margin: var(--margin);

    border: 0px;
    border-radius: 10px;

    background-color: var(--cinza);


    cursor: pointer;
}

#crts svg, #crts p{
    margin-left: 15px;

    font-size: 15px;
}

#rendimentos{
    display: grid;

    grid-template-columns: 75% 75%;
    grid-template-rows: 80px;

    gap: var(--margin);

    margin-left: var(--margin);
    cursor: default;
}

.rendimentos-item{
    height: 100%;

    align-content: center;

    border-radius: 10px;

    background-color: var(--cinza);
}

.rendimentos-item p{
    margin: 0px 10px;
}

label.rendimentos-txt{
    color: var(--roxo);
}

hr{
    border: 3px solid var(--fundo);
}

#crt-credito{
    display: grid;
    gap: 25px;

    margin: var(--margin);
}

#crt-credito p, #crt-credito h1{
    cursor: default;
}

#crt-pedir{
    height: 40px;
    width: 130px;

    border: none;
    border-radius: 20px;

    color: var(--branco);

    background-color: var(--roxo);
}

#main-3{
    display: flex;
    flex-direction: column;

    height: 360px;
}

#main-3-title{
    font-size: 17px;

    margin: 60px 0px 20px 30px;

    cursor: default;
}

#descubra{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: var(--margin);

    margin-left: 30px;
}

.descubra-item{
    background-color: var(--cinza);

    border-radius: 10px;
}

.descubra-item svg{
    margin-bottom: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.descubra-item h2, .descubra-item p, .descubra-item button{
    margin-left: 12px;
}

.descubra-item h2{
    margin-bottom: 10px;
    font-size: 15px;

    cursor: default;
}

.descubra-item p{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 100;

    cursor: default;
}

.descubra-item button{
    height: 35px;
    width: 130px;

    margin-bottom: 15px;

    border: none;
    border-radius: 20px;

    color: var(--branco);

    background-color: var(--roxo);
}

.descubra-bnt p{
    margin: 0px;

    cursor: pointer;
}

